.container {
    display: flex;
    margin: 0 auto;
    padding: 2% 10%;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    line-height: 1.5;
}

.row {
    display: block;
}

.textcolumn {
    float: left;
    width: 80%;
    padding-top: 5%;
    
}

.imagecolumn {
    float: left;
    width: 20%;
}


.responsive {
    width: 100%;
}

